nav {
  background-color: var(--reseda-green);
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  border-bottom: 0.5px solid var(--secondary-color);
}

.brand,
.tools,
.links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand img {
  height: 40px;
  width: auto;
}

.brand h2 {
  transition: 0.4s;
  margin-left: 10px;
}

.brand:hover h2 {
  color: var(--secondary-color);
}

.links li {
  list-style: none;
  margin: 0 1em;
  padding-left: 1em;
  border-left: solid var(--secondary-color) 3px;
}

.links li a {
  color: var(--base-text-color);
  font-weight: bold;
  transition: color 0.3s;
}

.links li a:hover {
  color: var(--secondary-color);
}

.links li a.active-link {
  color: #ffb84daa;
}

.circle {
  display: inline-block;
  background-color: var(--secondary-color);
  border-radius: 50%;
  cursor: pointer;
}

.circle-inner {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bolder;

  height: 35px;
  min-width: 35px;
  width: 35px;

  user-select: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;

  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  top: calc(100% + 10px);
  right: 0;
  color: var(--base-text-color);
}

.dropdown-content a {
  display: block;
  background-color: var(--dark-green);
  color: var(--base-text-color);
  padding: 12px 16px;
  border-radius: 10px;
  text-decoration: none;
  text-align: left;
  font-weight: bold;
  box-shadow: 0 0 3px var(--secondary-color);
  cursor: pointer;
}

.dropdown-content a:hover {
  transition: 0.5s;
  background-color: var(--secondary-color);
  color: var(--antiflash-white) !important;
}

.dropdown-content.show {
  display: block;
}
