<div class="task-grid-container">
  <div class="task-card create-card">
    <div class="task-header">
      <textarea
        class="task-title"
        [(ngModel)]="newTitle"
        role="textbox"
        aria-label="Task title"
        placeholder="New Task Title"
      ></textarea>

      <div class="task-actions">
        <button
          role="button"
          class="create-task-button"
          tabindex="0"
          (click)="createNewTask()"
        >
          +
        </button>
      </div>
    </div>
    <textarea
      class="task-description"
      [(ngModel)]="newDescription"
      aria-label="Task description"
      placeholder="New Task Description"
    ></textarea>
  </div>

  <div *ngFor="let task of tasks" class="task-card">
    <div class="task-header">
      <textarea
        class="task-title"
        [(ngModel)]="task.title"
        (focus)="startEditing(task)"
        (blur)="saveIfChanged(task)"
        (input)="onTaskInput(task)"
        role="textbox"
        aria-label="Task title"
      ></textarea>

      <div class="task-actions">
        <input
          type="checkbox"
          [checked]="task.isCompleted"
          (change)="toggleTaskCompletion(task)"
          aria-label="Mark task as complete"
        />
        <button role="button" tabindex="0" (click)="openDeleteConfirm(task)">
          X
        </button>
      </div>
    </div>

    <textarea
      class="task-description"
      [(ngModel)]="task.description"
      (focus)="startEditing(task)"
      (blur)="saveIfChanged(task)"
      (input)="onTaskInput(task)"
      aria-label="Task description"
    ></textarea>
  </div>
</div>

<app-confirm-modal
  *ngIf="showConfirmModal"
  [message]="
    'Are you sure you want to delete the task \'' + taskToDelete?.title + '\'?'
  "
  (confirm)="handleConfirmDelete($event)"
></app-confirm-modal>

<div
  *ngIf="message"
  class="app-message"
  [ngClass]="{
    success: messageType === 'success',
    error: messageType === 'error'
  }"
>
  {{ message }}
</div>
