<div class="task-grid-container">
  <app-task-card
    [isCreateMode]="true"
    (taskCreated)="createNewTask($event)"
  ></app-task-card>

  <app-task-card
    *ngFor="let task of tasks"
    [task]="task"
    (taskCompleted)="toggleTaskCompletion($event)"
    (taskDeleted)="openDeleteConfirm($event)"
    (taskUpdated)="saveIfChanged($event)"
  ></app-task-card>
</div>

<app-confirm-modal
  *ngIf="showConfirmModal"
  [message]="
    'Are you sure you want to delete the task \'' + taskToDelete?.title + '\'?'
  "
  (confirm)="handleConfirmDelete($event)"
></app-confirm-modal>

<div
  *ngIf="message"
  class="app-message"
  [ngClass]="{
    success: messageType === 'success',
    error: messageType === 'error'
  }"
>
  {{ message }}
</div>
